
.navigation-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.navigation-bar img{
    height: 35px;
}
li{
    list-style-type: none;
}
a{
    color: black;
    text-decoration: none;
}
nav{
    width: 100%;

}
*{
    transition: all 0.1s ease-in;
}